<header>
  <div>
    <img id='logo' src='../../assets/image/logo.png' width=65px>
  </div>
  <div id='mainTitle'>
    <h1>The New Republic News Feed</h1>
    <a href="/"><button id="home">Home</button></a>
  </div>

</header>

{{#each saved}}
<div id="savedArtcl">
  <button id="deleteartcl" data-id="{{this._id}}">Delete Aticle</button>
  <h3>{{this.title}}</h3>
  {{this.excerpt}}
  <h5>{{this.author}}</h5>
  <a href="{{this.link}}" target="_blank"> Read Full Article </a>
  <button id="addNote" data-id="{{this._id}}">Add Notes To Article</button>
  <form action="/savedartcl/{{this._id}}" method="GET"></form>
  <br>
  <div id="notes"></div>
  <br>
</div>
{{/each}}