
 <div id="savedArtcl">
       {{#each saved}}
        <h3>{{this.title}}</h3>
        {{this.excerpt}}
        <h5>{{this.author}}</h5>
        <a href="{{this.link}}" target="_blank"> Read Full Article </a>
        <button id="addNote" data-id="{{this._id}}">Add Notes To Article</button>
        <form action="/savedartcl/{{this._id}}" method="GET"></form>
        </div>
        <div id="notes">Notes</div>
        {{/each}}   
</div>
 


  